<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
<div>
    <h1 class="py-5">Edit User</h1>
    <form method="post" th:action="'/list-of-users/edit-user/' + ${user.id}" th:object="${user}"
          class="col card p-3 mb-5">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input id="firstName" placeholder="Enter First Name" th:field="*{firstName}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input id="lastName" placeholder="Enter Last Name" required th:field="*{lastName}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input id="mobile" placeholder="Enter Mobile" required th:field="*{mobileNumber}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" placeholder="Enter Email" required th:field="*{email}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input id="age" placeholder="Enter Age" required th:field="*{age}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="sex">Sex:</label>
            <select id="sex" name="sexes" class="form-control">
                <option th:each="sex : ${T(com.teachmeskills.visaction.model.Sex).values()}"
                        th:text="${sex}"
                        th:value="${sex.name}"
                        required th:field="*{sexes}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="login">Login:</label>
            <input id="login" placeholder="Enter Login" required th:field="*{username}"
                   class="form-control" type="text"/>
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="roles" class="form-control">
                <option th:each="role : ${T(com.teachmeskills.visaction.model.Role).values()}"
                        th:text="${role}"
                        th:value="${role.name}"
                        required th:field="*{roles}"></option>
            </select>
        </div>
        <input id="activeFlag" type="hidden" th:field="*{active}" value='true'>
        <div>
            <input type="submit" class="btn btn-success col-lg-2" value="UPDATE"
                   onclick="document.getElementById('activeFlag').value='true'">
            <input type="submit" class="btn btn-danger col-lg-2" value="DELETE"
                   onclick="document.getElementById('activeFlag').value='false'">
            <input type="reset" class="btn btn-dark col-lg-2" value="RESET">
            <a th:href="@{/list-of-users}" role="button" class="btn btn-link col-lg-2.5">Back To List Of Users</a>
        </div>
    </form>
</div>
</body>
</html>
