<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
</head>
<body>
<div th:fragment="menu">
    <ul class="basic-menu clearfix">
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/europe}">Europe</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/asia}">Asia</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/america}">America</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/africa}">Africa</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/oceania}">Oceania</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <!--<li><a href="#">Language</a>
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Russian</a></li>
            </ul>
        </li>-->
        <li sec:authorize="hasAuthority('USER')"><a th:href="@{/about}">Profile</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a href="#">Service</a>
            <ul>
                <li><a th:href="@{/list-of-countries}">Countries</a></li>
                <li><a th:href="@{/list-of-users}">Users</a></li>
            </ul>
        </li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Sign in</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
</div>
</body>
</html>