<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:replace="fragments/header :: header-files"></div>
</head>
<body>

<!-- header start -->
<div th:replace="fragments/header :: header"></div>
<!-- header end -->

<!-- basic-slider start -->
<div class="slider-section">
    <div class="single-slider">
        <div class="container">
            <div class="slider-content text-VALUKA">
                <h2>Hello,
                    <br /> I am Alexander Shtura.
                </h2>
                <p>DevOps | Development</p>
            </div>
            <div class="col-xl-3 col-lg-4  col-md-6">
                <div class="footer-widget mb-30">
                    <div class="footer-contact-list">
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-ios-telephone"></i></a></span>
                            <span class="footer-contact-list-text">+48 500 522 765</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-email"></i></a></span>
                            <span class="footer-contact-list-text">alex.shtura@gmail.com</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-ios-location"></i></a></span>
                            <span class="footer-contact-list-text">Gdansk Metropolitan Area, Poland</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-social-linkedin"></i></a></span>
                            <span class="footer-contact-list-text">linkedin.com/in/alexander-shtura</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-ios-paperplane"></i></a></span>
                            <span class="footer-contact-list-text">t.me/alex_shtura</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-social-skype"></i></a></span>
                            <span class="footer-contact-list-text">live:sashacivic22</span>
                        </div>
                        <div class="single-footer-contact-info">
                            <span><a class="facebook" href="#"><i class="ion-social-github"></i></a></span>
                            <span class="footer-contact-list-text">github.com/AlexShtura</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="widget">
                <div class="widget-social">
            </div>


                    <a class="facebook" href="#"><i class="ion-email"></i></a>
                    <a class="instagram" href="#"><i class="ion-social-instagram"></i></a>
                    <a class="googleplus" href="#"><i class="ion-social-googleplus"></i></a>
                    <a class="linkedin" href="#"><i class="ion-social-linkedin"></i></a>
        </div>-->
    </div>
</div>
<!-- basic-slider end -->

<!-- basic-process-area start -->
<div class="basic-process-area pt-120 pb-90">
    <div class="container">
        <div class="area-title text-center">
            <h2> My Trainings</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita,
                quas ab adipisci.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-30">
                <div class="process-item text-center">
                    <div class="process-item-content">
                        <span class="process-item-number">1</span>
                        <h3 class="process-item-title">Tel</h3>
                        <p>+48 500 522 765</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-30">
                <div class="process-item text-center highlight">
                    <div class="process-item-content">
                        <span class="process-item-number">2</span>
                        <h3 class="process-item-title">Plan</h3>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-30">
                <div class="process-item text-center">
                    <div class="process-item-content">
                        <span class="process-item-number">3</span>
                        <h3 class="process-item-title">Design</h3>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-30">
                <div class="process-item text-center highlight">
                    <div class="process-item-content">
                        <span class="process-item-number">4</span>
                        <h3 class="process-item-title">Development</h3>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-process-area end -->

<!-- about-us-area start -->
<div class="about-us-area ptb-120">
    <div class="container">
        <div class="area-title text-center">
            <h2>About Me</h2>
            <p>Hi, I am a DevOps Engineer and I would like to help you in implementing your projects.
                Basic knowledge of Linux administration, scripting language - Bash, container - Docker.
                Experience with Java 8+, Spring (Core, MVC, Data, Security), Spring Boot, Hibernate, HTML, CSS.
                Experience in optimizing business processes in the field of engineering information technologies. </p>
        </div>
        <div class="row">
            <!-- ABOUT TEXT -->
            <div class="col-md-3">
                <div class="about-text mt-90">
                    <h5>RECIPIENT</h5>
                    <p>Best Company.</p>
                    <p>Poland, Gdansk, 2022.</p>

                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text mt-90">
                    <h5>COVER LETTER</h5>
                    <p>I would like to tell you about my skills, background, and ability to succeed
                        as a Java developer. I'm confident that I possess all the required experience,
                        knowledge, and skills to successfully fulfill the job role and I believe I would
                        be a great contribution to your team and company.</p>
                    <p>Over the last years, I have accumulated industry experience, which includes
                        participation in major software development and web development projects. We have
                        made a major project in the field of mechanical engineering. I basically worked
                        as a product owner. My main tasks were managing the product backlog, monitoring
                        at all stages of development, communicating with the customer and developers,
                        evaluating the progress of the product. Besides that, I was also responsible
                        for the maintenance of the whole company web application and resolved any
                        problematic issues. My efforts and results were regularly recognized and I was
                        also awarded Employee of the Year.</p>
                    <p>The second major project was integration with the ERP system. The key points
                        were immersion in the code with the determination of the attributive composition
                        for transmission to the ERP system, synchronization of PLM-ERP data.</p>
                    <p>I have completed the Java developer course. Finally, I know Java 8+,
                        Spring (Core, MVC, Data, Security), Spring Boot, Hibernate, Thymeleaf, HTML,
                        JavaScript. I used all these technologies in my final project. You can watch it
                        on my Github. If you find the time, be sure to go there.</p>
                    <p>If you have any questions or would like to further discuss my qualifications, please
                        do not hesitate to contact me. Thank you for your time and consideration.</p>
                    <p>Sincerely,</p>
                    <div class="signature mt-20">
                        <img src="img/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-us-area end -->

<!-- basic-counter-area start -->
<div class="basic-counter-area ptb-120 gray-bg fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class=" icon-trophy"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">650</h3>
                        <h4>cups of coffee</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-happy"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">890</h3>
                        <h4>project done</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-alarmclock"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">1200</h3>
                        <h4>branding</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-megaphone"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">1500</h3>
                        <h4>happy clients</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-counter-area end -->

<!-- basic-service-area start -->
<div class="basic-service-area black-bg pt-120 pb-70">
    <div class="container">
        <div class="area-title white-text text-center">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos
                est expedita,
                quas ab adipisci.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-basket"></span>
                    </div>
                    <div class="service-content">
                        <h3>Features & plugins</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-speedometer"></span>
                    </div>
                    <div class="service-content">
                        <h3>Optimised for speed</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-chat "></span>
                    </div>
                    <div class="service-content">
                        <h3>Dedicated support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-pencil"></span>
                    </div>
                    <div class="service-content">
                        <h3>Designs & interfaces</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-gears"></span>
                    </div>
                    <div class="service-content">
                        <h3>Highly customizable</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-mobile"></span>
                    </div>
                    <div class="service-content">
                        <h3>Responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-service-area end -->

<div class="basic-skill-area pt-120 pb-120">
    <div class="container">
        <div class="area-title text-center">
            <h2>Our Skill</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos
                est expedita, quas ab adipisci.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- PROGRESS BAR -->
                <h6 class="progress-title">HTML <span class="pull-right"><span>80</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">CSS <span class="pull-right"><span>60</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">Jquery <span class="pull-right"><span>75</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <!-- END PROGRESS BAR -->
            </div>
            <div class="col-sm-6">
                <!-- PROGRESS BAR -->
                <h6 class="progress-title">WordPress <span class="pull-right"><span>80</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">PHP <span class="pull-right"><span>60</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">Design <span class="pull-right"><span>75</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <!-- END PROGRESS BAR -->
            </div>
        </div>
    </div>
</div>

<!-- blog-area start -->
<div class="blog-area gray-bg ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sidebar-blog">
                <div class="widget">
                    <h4 class="widget-title">Trainings & Certifications</h4>
                    <div class="sidebar-rc-post">
                        <ul>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href="blog-details.html"><img src="img/blog/rcp-1.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">DevOps Fundamentals</a></h4>
                                    <div class="widget-date">EPAM Systems</div>
                                    <div class="widget-date">Jul 2022 - In progress</div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href=""><img src="img/blog/rcp-2.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">Java Developer</a></h4>
                                    <div class="widget-date">TeachMeSkills</div>
                                    <div class="widget-date">Aug 2021 - Mar 2022</div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href=""><img src="img/blog/rcp-3.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">3DEXPERIENCE (R2019x) Customization Fundamentals</a></h4>
                                    <div class="widget-date">IGA Technologies</div>
                                    <div class="widget-date">Aug 2021</div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href=""><img src="img/blog/rcp-4.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">Training to work in Windchill and Creo</a></h4>
                                    <div class="widget-date">PTC</div>
                                    <div class="widget-date">May 2021</div>
                                    <div class="widget-date">ID №21/043</div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href=""><img src="img/blog/rcp-4.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">Windchill NSI Library Organization Training</a></h4>
                                    <div class="widget-date">PTC</div>
                                    <div class="widget-date">Apr 2021</div>
                                    <div class="widget-date">ID № 21/034</div>
                                </div>
                            </li>
                            <li>
                                <div class="rc-post-thumb">
                                    <a href=""><img src="img/blog/rcp-3.jpg" alt="" /></a>
                                </div>
                                <div class="rc-post-content">
                                    <h4><a href="">DELMIA Prismatic Machining Fundamentals</a></h4>
                                    <div class="widget-date">IGA Technologies</div>
                                    <div class="widget-date">Mar 2020</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="widget-title">Languages</h4>
                    <div class="widget-link">
                        <ul class="sidebar-link">
                            <li><a href="#">English</a> <span>Intermediate</span></li>
                            <li><a href="#">Polish</a> <span>Elementary</span></li>
                            <li><a href="#">Russian</a> <span>Native</span></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="widget-title">Popular Tags</h4>
                    <div class="widget-tags">
                        <ul class="sidebar-tad">
                            <li><a href="#">Html</a></li>
                            <li><a href="#">css</a></li>
                            <li><a href="#">Rest</a></li>
                            <li><a href="#">Best</a></li>
                            <li><a href="#">WordPress</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">clean</a></li>
                            <li><a href="#">Simple</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 blog-post-items">
                <div class="blog-wrapper blog-details">
                    <div class="blog-content">
                        <h2 class="blog-title">Work experience</h2>
                        <div class="meta-info meta-details">
                            <ul>
                                <li class="posts-time">Lead Engineer PLM</li>
                                <li class="posts-author">
                                    <a title="Author" href="https://unitsky.com/">Unitsky String Technologies</a>
                                </li>
                                <li class="posts-time">Dec 2018 - Jun 2022</li>
                            </ul>
                        </div>
                        <blockquote>
                            <p>- implementing configuring and customizing PLM applications according to the
                                functional and technical requirements.</p>
                            <p>- creating solutions in complex environments involving a team.</p>
                            <p>- development best practices for manufacturing BOM and bill of the process
                                definition.</p>
                            <p>- streamlining the change process for revising MBOM and bill of process.</p>
                            <p>- providing requirements for IT developers to implement enhancements to PLM
                                systems.</p>
                            <p>- working in complex and demanding PLM field with integrations to enterprise
                                systems.</p>
                            <p>- performing unit tests at the end of each implementation documenting results
                                and correcting issues.</p>
                            <p>- software testing quality ensuring.</p>
                            <p>- providing support for complex incidents.</p>
                            <p>- resolving problems and analyzing the root cause.</p>
                            <p>- cooperating with PLM Delivery Lead to plan and prioritize activities.</p>
                            <p>- development training programs and training events for end-users.</p>
                        </blockquote>
                        <div class="meta-info meta-details">
                            <ul>
                                <li class="posts-time">Mechanical Design Engineer</li>
                                <li class="posts-author">
                                    <a title="Author" href="https://unitsky.com/">Katek</a>
                                </li>
                                <li class="posts-time">May 2017 - Oct 2018</li>
                            </ul>
                        </div>
                        <blockquote>
                            <p>- designing parts for various fabrication methods, including machining,
                                sheet metal fabrication (PTC Creo Parametric).
                                </p>
                            <p>- working with the various stakeholders to ensure solutions are well suited and well-executed.
                                </p>
                            <p>- producing part drawings and specifications, production tooling, and production manuals.
                                </p>
                            <p>- good knowledge of issues related to the strength of materials and bending processes and welding.
                                </p>
                            <p>- creation of product operating and assembly instructions.
                                </p>
                            <p>- corporate & Vendor Liaison: Working with external suppliers in the design and development of new production equipment and processes.
                                </p>
                            <p>- a close work relationship with the Operations team to access root causes, then present and work through various solutions.
                                </p>
                            <p>- implementation of a product life cycle system (Windchill).</p>
                        </blockquote>
                    </div>
                    <div class="blog-more-info">
                        <div class="common-tag clearfix">
                            <ul>
                                <li>
                                    <a href="#">Minimal</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">jQuery</a>
                                </li>
                                <li>
                                    <a href="#">WordPress</a>
                                </li>
                                <li>
                                    <a href="#">Web</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area end -->

<!-- call-to-action-area start -->
<div class="call-to-action-area gray-bg ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="call-to-action">
                    <h3>best solution for your business</h3>
                    <p>Here you can download my CV (.pdf)</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-right">
                <div class="call-to-action">
                    <a class="btn btn-large" href="#">Download now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- call-to-action-area end -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
