<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:replace="fragments/header :: header-files"></div>
</head>
<body>

<!-- header start -->
<div th:replace="fragments/header :: header"></div>
<!-- header end -->

<!-- basic-breadcrumb start -->
<div class="breadcrumb-2-area pos-relative bg-2 bg-black-alfa-40">
    <div class="hero-caption">
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="text-uppercase color-VALUKA breadcrumb-2">About Us</h1>
                        <p class="lead color-VALUKA ">Everything you need to know about our Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-breadcrumb end -->

<!-- about-us-area start -->
<div class="about-us-area ptb-120">
    <div class="container">
        <div class="area-title text-center">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos
                est expedita, quas ab adipisci.</p>
        </div>
        <div class="row">
            <!-- ABOUT TEXT -->
            <div class="col-md-6">
                <div class="about-text mt-90">
                    <h5>Hello, I'm VALUKA</h5>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                        decided to leave for the far World of Grammar.</p>
                    <p>Design and user experience director. Grass there without lights be years male have and grass
                        firmament kind bring, is thing doesn't herb.</p>
                    <ul>
                        <li><abbr title="Phone">P:</abbr> (123) 456-7890</li>
                        <li>E-mail: <a href="mailto:name@email.com">hello@domain.com</a></li>
                    </ul>
                    <div class="signature mt-20">
                        <img src="img/signature.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /ABOUT TEXT -->
            <!-- PHOTO -->
            <div class="col-md-6">
                <div class="about-img hidden-sm">
                    <img src="img/me.jpg" alt="">
                </div>
            </div>
            <!-- /PHOTO -->
        </div>
    </div>
</div>
<!-- about-us-area end -->

<!-- basic-counter-area start -->
<div class="basic-counter-area ptb-120 gray-bg fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class=" icon-trophy"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">650</h3>
                        <h4>cups of coffee</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-happy"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">890</h3>
                        <h4>project done</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-alarmclock"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">1200</h3>
                        <h4>branding</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="counter-box">
                    <div class="counter-icon">
                        <span class="icon-megaphone"></span>
                    </div>
                    <div class="counter-text">
                        <h3 class="counter-number">1500</h3>
                        <h4>happy clients</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-counter-area end -->

<!-- basic-service-area start -->
<div class="basic-service-area black-bg pt-120 pb-70">
    <div class="container">
        <div class="area-title white-text text-center">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos
                est expedita,
                quas ab adipisci.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-basket"></span>
                    </div>
                    <div class="service-content">
                        <h3>Features & plugins</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-speedometer"></span>
                    </div>
                    <div class="service-content">
                        <h3>Optimised for speed</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-chat "></span>
                    </div>
                    <div class="service-content">
                        <h3>Dedicated support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give you
                            awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-pencil"></span>
                    </div>
                    <div class="service-content">
                        <h3>Designs & interfaces</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-gears"></span>
                    </div>
                    <div class="service-content">
                        <h3>Highly customizable</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="icon-mobile"></span>
                    </div>
                    <div class="service-content">
                        <h3>Responsive design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi sunt nisi id magni digni ssimos rem semsila
                            eaque, rem and i will give
                            you awesome platform.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-service-area end -->

<!-- basic-team-area start -->
<div class="basic-team-area gray-bg pt-120 pb-90">
    <div class="container">
        <div class="area-title text-center">
            <h2>Our Team</h2>
            <p>A person is closest to perfection in those moments when he fills out a questionnaire when applying for a
                job.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="img/our_team/victor.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">WHAT'S UP!</h5>
                            <p>When will be the backend?</p>
                            <div class="team-social-icon">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="team-item-name">Viktor Telyatko</h4>
                    <span class="team-item-role">Mentor</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="img/our_team/alex.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">WHAT'S UP!</h5>
                            <p>How much has not been done yet, and how much still remains to be done ...</p>
                            <div class="team-social-icon">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="team-item-name">Alexander Shtura</h4>
                    <span class="team-item-role">Developer</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="img/our_team/maks.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">WHAT'S UP!</h5>
                            <p>It's hard being a middle manager. And morons above you and morons below you.</p>
                            <div class="team-social-icon">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="team-item-name">Maksim Kim</h4>
                    <span class="team-item-role">Head Of Idea</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="img/our_team/kirill.jpg" alt="team member">
                        <div class="team-item-detail">
                            <h5 class="team-item-title">WHAT'S UP!</h5>
                            <p>Kanban board and sticky notes are my everything!</p>
                            <div class="team-social-icon">
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                                <a href="#"><i class="ion-social-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <h4 class="team-item-name">Kirill Golovin</h4>
                    <span class="team-item-role">Scrum Master</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-team-area end -->

<div class="basic-skill-area pt-120 pb-120">
    <div class="container">
        <div class="area-title text-center">
            <h2>Our Skill</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos
                est expedita, quas ab adipisci.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- PROGRESS BAR -->
                <h6 class="progress-title">HTML <span class="pull-right"><span>80</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">CSS <span class="pull-right"><span>60</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">Jquery <span class="pull-right"><span>75</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <!-- END PROGRESS BAR -->
            </div>
            <div class="col-sm-6">
                <!-- PROGRESS BAR -->
                <h6 class="progress-title">WordPress <span class="pull-right"><span>80</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">PHP <span class="pull-right"><span>60</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;"></div>
                </div>
                <!-- END PROGRESS BAR -->

                <!-- PROGRESS BAR -->
                <h6 class="progress-title">Design <span class="pull-right"><span>75</span>%</span></h6>
                <div class="progress">
                    <div class="progress-bar" aria-valuenow="75" role="progressbar" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%;"></div>
                </div>
                <!-- END PROGRESS BAR -->
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
