<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:replace="fragments/header :: header-files"></div>
</head>
<body>
<!-- header start -->
<header id="sticky-header" class="header-fixed">
    <div class="header-area">
        <div class="container sm-100">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <div class="logo text-upper">
                        <li><h4><a th:href="@{/index}">shtura.com</a></h4></li>
                    </div>
                </div>

                <div class="col-md-11 col-sm-10">
                    <div class="menu-area hidden-xs">
                        <div class="hamburger hamburger--collapse">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                        <nav class="hamburger-menu">
                            <div th:replace="fragments/menu :: menu"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->


<!-- basic-slider start -->
<div class="basic-slider height-100-vh bg" style="background-image: url(img/slider/slide-white.jpg)">
    <div class="container">
        <div class="hero-caption">
            <div class="slider-content hero-text text-center">
                <p>Thank you for your interest in me. Please take a moment to view my profile by clicking "About me".</p>
                <a class="btn" th:href="@{/about}">About Me</a>
            </div>
        </div>
    </div>
</div>
<!-- basic-slider end -->

<!-- basic-service-area start -->
<div class="basic-service-area black-bg pt-40">
    <div class="container">
        <div class="area-title white-text text-center">
            <h2>My social networks</h2>
            <p>If you have any questions or would like to further discuss my qualifications,
                please do not hesitate to contact me. Thank you for your time and consideration.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="ion-social-linkedin"></span>
                    </div>
                    <div class="service-content">
                        <h3>LinkedIn</h3>
                        <p>linkedin.com/in/alex-shtura</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="ion-ios-paperplane"></span>
                    </div>
                    <div class="service-content">
                        <h3>Telegram</h3>
                        <p>t.me/alex_shtura</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="ion-social-skype"></span>
                    </div>
                    <div class="service-content">
                        <h3>Skype</h3>
                        <p>live:sashacivic22</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
                <div class="service-box">
                    <div class="service-icon">
                        <span class="ion-social-github"></span>
                    </div>
                    <div class="service-content">
                        <h3>GitHub</h3>
                        <p>github.com/AlexShtura</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- basic-service-area end -->

<!-- footer start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- footer end -->

</body>
</html>
