<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
</head>
<body>
<div th:fragment="about-country">
<div>
    <p>The German-speaking country of Austria is not bypassed by many travelers. Austria can offer a diverse program for the study of classical European architecture, an abundance of classical music for its connoisseurs, the purest mineral waters on a holiday, as well as professional high-quality trails in the ski resorts of the Alps. Despite the high prices, Austrian ski resorts remain competitive thanks to well-equipped trails, comfortable hotels and well-groomed slopes. In addition, every corner of the country is memorable for the fact that one or another famous person lived there in the past - Mozart, Strauss, Beethoven, Wolfgang or anyone else.

        The world-famous Vienna boasts huge art galleries, classical palaces and park ensembles, theaters, opera halls with waltzes and charming Viennese cafes with sweets. A special object for tourists to visit was the picturesque Viennese Forest, which includes a number of suburbs of Vienna.

        To visit the historical homeland of many musical and literary celebrities, it is necessary to take care of obtaining an Austrian visa or any other Schengen. A visa to Austria can be opened at the German consulate. The procedure for applying for a visa to Austria is the same as for German visas. It is necessary to pay special attention to the correctness of the translated documents into German or English, so that due to incorrect translations, an Austrian visa will not be refused. To obtain a Schengen visa to Austria, you must have at least two Schengen visas in your passport for the past two years, or you need to confirm your financial viability for the entire period of the trip. It is even more difficult to get an annual visa. Transit visa to Austria is no longer in demand.

        To apply for a business (business, work) visa to Austria, it is required to prepare a special package of documents for obtaining an EU blue card. The package must necessarily contain an offer from the employer indicating the salary and the amount of working time.

        Holders of an Austrian visa can fly directly from Minsk to Vienna. If you want to visit Austria, you can apply for a Schengen visa with us! </p>
</div>
</div>