<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <div th:replace="fragments/header :: header-files"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="basic-breadcrumb-area gray-bg ptb-20">
    <div class="container">
        <div class="basic-breadcrumb text-center">
            <h3 class="">Countries of Asia</h3>
            <ol class="breadcrumb text-xs">
                <li><a th:href="@{/index}">Home</a></li>
                <li class="active">Asia</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-hover caption-top justify-content-center">
        <thead>
        <tr>
            <th class="text-center" scope="col">COUNTRY</th>
            <th class="text-center" scope="col">TYPE OF VISA</th>
            <th class="text-center" scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${user.id}" class="text-center align-middle"></td>
            <td th:text="${user.firstName}" class="text-center align-middle"></td>
            <td th:text="${user.lastName}" class="text-center align-middle"></td>
            <td th:text="${user.mobileNumber}" class="text-center align-middle"></td>
            <td th:text="${user.email}" class="text-center align-middle"></td>
            <td th:text="${user.age}" class="text-center align-middle"></td>
            <td th:text="${#strings.setJoin(user.sexes, ',')}" class="text-center align-middle"></td>
            <td th:text="${user.username}" class="text-center align-middle"></td>
            <td th:text="${#strings.setJoin(user.roles, ',')}" class="text-center align-middle"></td>
            <td th:text="${user.createdUserAt}" class="text-center align-middle"></td>
            <td th:text="${user.updatedUserAt}" class="text-center align-middle"></td>
            <td class="text-center align-middle">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a th:href="@{'/list-of-users/edit-user/' + ${user.id}}" class="btn btn-primary" role="button">Edit</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>