<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>VISACTION - Visa Center</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- favicon icon -->
        <link rel="icon" href="img/favicon.png">

		<!-- All CSS Files Here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/et-line-fonts.css">
        <link rel="stylesheet" href="css/ionicons.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
 		<!-- PRELOADER -->
		<div class="page-loader">
			<div class="loader">https://www.youtube.com/watch?v=xpIaa9ww9Ds</div>
		</div>
		<!-- /PRELOADER -->
		<!-- header start -->
		<header id="sticky-header">
			<div class="header-area">
				<div class="container sm-100">
					<div class="row">
						<div class="col-md-1 col-sm-12">
							<div class="logo text-upper">
								<li><h4><a href="../index.html">VISACTION</a></h4></li>
							</div>
						</div>

						<div class="col-md-2 col-sm-2">
							<ul class="basic-menu clearfix">
								<li><a href="#">Sign in</a></li>
							</ul>
						</div>

						<div class="col-md-9 col-sm-10">
							<div class="menu-area hidden-xs">
								<nav>
									<ul class="basic-menu clearfix">
										<li><a href="#">Europe</a>
											<ul>
												<li><a href="#">Southern Europe</a>
													<ul>
														<li><a href="#">Albania</a></li>
														<li><a href="#">Andorra</a></li>
														<li><a href="#">Bosnia and Herzegovina</a></li>
														<li><a href="#">Croatia</a></li>
														<li><a href="#">Greece</a></li>
														<li><a href="#">Italy and Holy See</a></li>
														<li><a href="#">Malta</a></li>
														<li><a href="#">Montenegro</a></li>
														<li><a href="#">North Macedonia</a></li>
														<li><a href="#">Portugal</a></li>
														<li><a href="#">San Marino</a></li>
														<li><a href="#">Serbia</a></li>
														<li><a href="#">Slovenia</a></li>
														<li><a href="#">Spain</a></li>
													</ul>
												</li>
												<li><a href="#">Western Europe</a>
													<ul>
														<li><a href="#">Austria</a></li>
														<li><a href="#">Belgium</a></li>
														<li><a href="#">France</a></li>
														<li><a href="#">Germany</a></li>
														<li><a href="#">Liechtenstein</a></li>
														<li><a href="#">Luxembourg</a></li>
														<li><a href="#">Monaco</a></li>
														<li><a href="#">Netherlands</a></li>
														<li><a href="#">Switzerland</a></li>
													</ul>
												</li>
												<li><a href="#">Northern Europe</a>
													<ul>
														<li><a href="#">Denmark</a></li>
														<li><a href="#">Estonia</a></li>
														<li><a href="#">Finland</a></li>
														<li><a href="#">Iceland</a></li>
														<li><a href="#">Ireland</a></li>
														<li><a href="#">Latvia</a></li>
														<li><a href="#">Lithuania</a></li>
														<li><a href="#">Norway</a></li>
														<li><a href="#">Sweden</a></li>
														<li><a href="#">United Kingdom</a></li>
													</ul>
												</li>
												<li><a href="#">Eastern Europe</a>
													<ul>
														<li><a href="#">Belarus</a></li>
														<li><a href="#">Bulgaria</a></li>
														<li><a href="#">Czechia</a></li>
														<li><a href="#">Hungary</a></li>
														<li><a href="#">Moldova</a></li>
														<li><a href="#">Poland</a></li>
														<li><a href="#">Romania</a></li>
														<li><a href="#">Russia</a></li>
														<li><a href="#">Slovakia</a></li>
														<li><a href="#">Ukraine</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Asia</a>
											<ul>
												<li><a href="#">Vietnam</a></li>
												<li><a href="#">India</a></li>
												<li><a href="#">Iran</a></li>
												<li><a href="#">China</a></li>
												<li><a href="#">Myanmar</a></li>
												<li><a href="#">UAE</a></li>
												<li><a href="#">Singapore</a></li>
												<li><a href="#">Thailand</a></li>
												<li><a href="#">Taiwan</a></li>
												<li><a href="#">Philippines</a></li>
												<li><a href="#">South Korea</a></li>
												<li><a href="#">Japan</a></li>
											</ul>
										</li>
										<li><a href="#">America</a>
											<ul>
												<li><a href="#">Guiana (French)</a></li>
												<li><a href="#">Dominican Republic</a></li>
												<li><a href="#">Canada</a></li>
												<li><a href="#">Colombia</a></li>
												<li><a href="#">Mexico</a></li>
												<li><a href="#">USA</a></li>
												<li><a href="#">French Polynesia</a></li>
												<li><a href="#">Chile</a></li>
											</ul>
										</li>
										<li><a href="#">Africa</a>
											<ul>
												<li><a href="#">Egypt</a></li>
												<li><a href="#">Morocco</a></li>
												<li><a href="#">South Africa</a></li>
											</ul>
										</li>
										<li><a href="#">Australia and Oceania</a>
											<ul>
												<li><a href="#">Australia</a></li>
												<li><a href="#">New Zealand</a></li>
												<li><a href="#">Fiji</a></li>
											</ul>
										</li>
										<!-- PORTFOLIO
										<li>
											<a href="portfolio-single.html">Portfolio</a>
											<ul>
												<li><a href="portfolio-single.html">Single 1 - standartd 1</a></li>
												<li><a href="portfolio-single-2.html">Single 2 - standartd 2</a></li>
												<li><a href="portfolio-single-gallery.html">Single 3 - img gallery</a></li>
												<li><a href="portfolio-single-video-gallery.html">Single 4 - video gallery</a></li>
												<li><a href="portfolio-single-slider.html">Single 5 - slider</a></li>
												<li><a href="portfolio-single-vimeo.html">Single 6 - vimeo video</a></li>
												<li><a href="portfolio-single-youtube.html">Single 7 - youtube video</a></li>

											</ul>
										</li>
										 -->
										<!-- END PORTFOLIO -->
										<!--
										<li><a href="#">Pages</a>
											<ul>
												<li><a href="about.html">About Us</a></li>
												<li><a href="list-of-users.html">Service</a></li>
												<li><a href="pricing.html">Pricing</a></li>
												<li><a href="contact.html">Contact</a></li>
												<li><a href="403.html">404 Page</a></li>
											</ul>
										</li>
										-->
										<!-- BLOG
										<li>
											<a href="blog.html">Blog</a>
											<ul>
												<li><a href="blog-2-col.html">2 Columns</a></li>
												<li><a href="blog-2-col-mas.html">2 Columns Masonry</a></li>
												<li><a href="blog-3-col.html">3 Columns</a></li>
												<li><a href="blog-3-col-mas.html">3 Columns Masonry</a></li>
												<li><a href="blog.html">Right Sidebar</a></li>
												<li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
												<li><a href="blog-fullwidth.html">No Sidebar</a></li>
												<li><a href="blog-details.html">details left sidebar</a></li>
												<li><a href="blog-details-left-sidebar.html">details right sidebar</a></li>
												<li><a href="blog-details-full.html">details no sidebar</a></li>
												<li><a href="blog-details-video.html">details with video</a></li>
											</ul>
										</li>
										-->
										<!-- END BLOG -->
										<li><a href="../contact.html">Contact</a></li>
										<li><a href="#">Language</a>
											<ul>
												<li><a href="#">English</a></li>
												<li><a href="#">Russian</a></li>
											</ul>
										</li>
										<li><a href="../admin/list-of-users.html">Service</a></li>
									</ul>
								</nav>
							</div>
							<!-- basic-mobile-menu -->
							<div class="basic-mobile-menu visible-xs">
								<nav id="mobile-nav">
									<ul>
										<li>
											<a href="../index.html">Country</a>
											<ul>
												<li>
													<a href="../index.html">Country Style One </a>
												</li>
												<li>
													<a href="index-2.html">Country Style Two</a>
												</li>
												<li>
													<a href="index-3.html">Country Style Three</a>
												</li>
												<li>
													<a href="index-4.html">Country Style Four</a>
												</li>
												<li>
													<a href="index-5.html">Country Style Five</a>
												</li>
												<li>
													<a href="index-6.html">Country Style Six</a>
												</li>
												<li>
													<a href="index-roted-1.html">Country Roted 1</a>
												</li>
												<li>
													<a href="index-roted-2.html">Country Roted 2</a>
												</li>
												<li>
													<a href="index-slider.html">Country Slider</a>
												</li>
												<li>
													<a href="index-video.html">Country Video BG</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="../about.html">about</a>
										</li>
										<!-- PORTFOLIO -->
										<li>
											<a href="portfolio-single.html">Portfolio</a>
											<ul>
												<li>
													<a href="portfolio-single.html">Single 1 - standartd 1</a>
												</li>
												<li>
													<a href="portfolio-single-2.html">Single 2 - standartd 2</a>
												</li>
												<li>
													<a href="portfolio-single-gallery.html">Single 3 - img gallery</a>
												</li>
												<li>
													<a href="portfolio-single-video-gallery.html">Single 4 - video gallery</a>
												</li>
												<li>
													<a href="portfolio-single-slider.html">Single 5 - slider</a>
												</li>
												<li>
													<a href="portfolio-single-vimeo.html">Single 6 - vimeo video</a>
												</li>
												<li>
													<a href="portfolio-single-youtube.html">Single 7 - youtube video</a>
												</li>

											</ul>
										</li>
										<!-- END PORTFOLIO -->
										<li>
											<a href="../admin/list-of-users.html">Service</a>
										</li>
										<li>
											<a href="#">Pages</a>
											<ul>
												<li>
													<a href="../about.html">About Us</a>
												</li>
												<li>
													<a href="../admin/list-of-users.html">Service</a>
												</li>
												<li>
													<a href="pricing.html">Pricing</a>
												</li>
												<li>
													<a href="../contact.html">Contact</a>
												</li>
												<li>
													<a href="../error/403.html">404 Page</a>
												</li>
											</ul>
										</li>
										<!-- BLOG -->
										<li>
											<a href="blog.html">Blog</a>
											<ul>
												<li>
													<a href="blog-2-col.html">2 Columns</a>
												</li>
												<li>
													<a href="blog-2-col-mas.html">2 Columns Masonry</a>
												</li>
												<li>
													<a href="blog-3-col.html">3 Columns</a>
												</li>
												<li>
													<a href="blog-3-col-mas.html">3 Columns Masonry</a>
												</li>
												<li>
													<a href="blog.html">Right Sidebar</a>
												</li>
												<li>
													<a href="blog-left-sidebar.html">Left Sidebar</a>
												</li>
												<li>
													<a href="blog-fullwidth.html">No Sidebar</a>
												</li>
												<li>
													<a href="blog-details.html">details left sidebar</a>
												</li>
												<li>
													<a href="blog-details-left-sidebar.html">details right sidebar</a>
												</li>
												<li>
													<a href="blog-details-full.html">details no sidebar</a>
												</li>
												<li>
													<a href="blog-details-video.html">details with video</a>
												</li>
											</ul>
										</li>
										<!-- END BLOG -->
										<li>
											<a href="../contact.html">Contact</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- basic-breadcrumb start -->
		<div class="breadcrumb-2-area pos-relative bg-2 bg-black-alfa-40">
			<div class="hero-caption">
				<div class="hero-text">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h1 class="text-uppercase color-VALUKA breadcrumb-2">Your dream</h1>
								<p class="lead color-VALUKA ">Maybe a trip to Vienna, Austria;)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- basic-breadcrumb end -->
		<!-- basic-pricing-area start -->
		<div class="basic-pricing-area pt-120 pb-90">
			<div class="container">
				<div class="area-title text-center">
					<h2>Our Pricing</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita, quas ab adipisci.</p>
				</div>
				<div class="row">
					<div class="col-sm-3 mb-30">
						<!-- PRICING TABLE -->
						<div class="pricing-table">
							<div class="pricing-title">
								<h6>Light</h6>
								<em class="text-small">for new users</em>
							</div>
							<div class="pricing-price">
								<span class="price-unit montserrat"><span>$</span>25</span>
								<span class="price-tenure">/mo</span>
							</div>
							<div class="pricing-features">
								<ul>
									<li>5GB Disk Space</li>
									<li>15 Email Addresses</li>
									<li>5 Domains</li>
									<li>50 Subdomains</li>
									<li>Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-circle btn-dark">Purchase</a>
							</div>
						</div>
						<!-- END PRICING TABLE -->
					</div>

					<div class="col-sm-3 mb-30">
						<!-- PRICING TABLE -->
						<div class="pricing-table">
							<div class="pricing-title">
								<h6>Professional</h6>
								<em class="text-small">most popular plan</em>
							</div>
							<div class="pricing-price">
								<span class="price-unit montserrat"><span>$</span>35</span>
								<span class="price-tenure">/mo</span>
							</div>
							<div class="pricing-features">
								<ul>
									<li>5GB Disk Space</li>
									<li>15 Email Addresses</li>
									<li>5 Domains</li>
									<li>50 Subdomains</li>
									<li>Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-circle btn-dark">Purchase</a>
							</div>
						</div>
						<!-- END PRICING TABLE -->
					</div>

					<div class="col-sm-3 mb-30">
						<!-- PRICING TABLE -->
						<div class="pricing-table">
							<div class="pricing-title">
								<h6>Business</h6>
								<em class="text-small">plan for bussines</em>
							</div>
							<div class="pricing-price">
								<span class="price-unit montserrat"><span>$</span>99</span>
								<span class="price-tenure">/mo</span>
							</div>
							<div class="pricing-features">
								<ul>
									<li>5GB Disk Space</li>
									<li>15 Email Addresses</li>
									<li>5 Domains</li>
									<li>50 Subdomains</li>
									<li>Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-circle btn-dark">Purchase</a>
							</div>
						</div>
						<!-- END PRICING TABLE -->
					</div>

					<div class="col-sm-3 mb-30">
						<!-- PRICING TABLE -->
						<div class="pricing-table">
							<div class="pricing-title">
								<h6>Gold</h6>
								<em class="text-small">for new users</em>
							</div>
							<div class="pricing-price">
								<span class="price-unit montserrat"><span>$</span>25</span>
								<span class="price-tenure">/mo</span>
							</div>
							<div class="pricing-features">
								<ul>
									<li>5GB Disk Space</li>
									<li>15 Email Addresses</li>
									<li>5 Domains</li>
									<li>50 Subdomains</li>
									<li>Email Support</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-circle btn-dark">Purchase</a>
							</div>
						</div>
						<!-- END PRICING TABLE -->
					</div>
				</div><!-- .row -->
			</div>
		</div>
		<!-- basic-pricing-area end -->
		<!-- basic-team-area start -->
		<div class="basic-team-area gray-bg pt-120 pb-90">
			<div class="container">
				<div class="area-title text-center">
					<h2>About Austria</h2>
					<p>The German-speaking country of Austria is not bypassed by many travelers. Austria can offer a varied program for the study of classical European architecture, an abundance of classical music for its connoisseurs, the purest mineral waters on a spa vacation, as well as professional high-quality tracks in the ski resorts of the Alps. Despite high prices, Austrian ski resorts remain competitive thanks to well-equipped pistes, comfortable hotels and well-groomed slopes. In addition, every corner of the country is remembered for the fact that one or another famous person lived there in the past - Mozart, Strauss, Beethoven, Wolfgang or anyone else.

						World famous Vienna boasts huge art galleries, classical palaces and park ensembles, theaters, opera halls with waltzes and charming Viennese cafes with sweets. The picturesque Vienna Woods, which includes a number of Vienna's outskirts, has become a special object for tourists to visit.

						To visit the historical homeland of many musical and literary celebrities, you need to take care of obtaining an Austrian visa or any other Schengen visa. A visa to Austria can be opened at the German consulate. The procedure for applying for a visa to Austria is the same as for German visas. It is necessary to pay special attention to the correctness of the translated documents into German or English, so that due to incorrect translations there is no refusal to issue an Austrian visa. To obtain a Schengen visa to Austria, your passport must have at least two Schengen visas over the past two years, or you need to prove financial viability for the entire period of the trip. It is even more difficult to obtain an annual visa. A transit visa to Austria is no longer in demand.

						To apply for a business (business, work) visa to Austria, you need to prepare a special package of documents for obtaining an EU blue card. The package must certainly contain an offer from the employer with an indication of wages and the amount of working time.

						Holders of an Austrian visa can take a direct flight from Minsk to Vienna. If you want to visit Austria, you can apply for a Schengen visa with us!</p>
				</div>
			</div>
		</div>

		<div class="portfolio-details-area pt-70 pb-40">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="portfolio-full-img embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/watch?v=tO-qThZRMO8"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="basic-footer ptb-20">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="copyright mt-5">
								<p>2022 Designed by
									<a href="https://www.linkedin.com/in/aliaksandr-shtura/">Alexander Shtura</a></p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="social-icon text-center">
								<a href="https://www.facebook.com/aliaksandr.shtura/">
									<i class="ion-social-facebook"></i>
								</a>
								<a href="https://www.instagram.com/">
									<i class="ion-social-instagram"></i>
								</a>
								<a href="https://yandex.by/">
									<i class="ion-social-dribbble"></i>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="footer-mail text-right">
								<span>+ 375 (29) 870-00-03</span>
								<li><a href="../contact.html">visaction@gmail.com</a></li>
								<!--<span>visaction@gmail.com</span>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<!-- All js plugins here -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
